.App {
  text-align: center;
  width: 1920px;
  height: 1080px;
  position: relative;
  background: #fff;
}
.header-user{
  border-bottom:1px solid #dfe5ec ;
  position: relative;
  box-sizing: border-box;
  padding: 10px
}
.header-user span{
  width:49px;
  height: 49px;
  background: url('/static/image/user.jpeg') no-repeat;
  background-size: 100% 100%;
  display: block;
  border-radius: 100%;
  margin-left: 42px
}
.header-user h3{
  font-size: 12px;
  margin-top:6px;
  margin-bottom: 20px
}
.header-user .level{
  width: 29px;
  height: 20px;
  background: url('/static/image/level.png') no-repeat;
  background-size:100% 100%;
  position: absolute;
  left:58px;
  top:10px;
  top:90px
}
.navigation{
  position: absolute;
  left:0;
  box-sizing: border-box;
  width: 188px;
  height: 100%;
  background: linear-gradient(to bottom,rgba(233,239,246,0.8),rgba(221,219,219,0.8));
  padding: 15px;
  text-align: center;
  z-index: 99;
  
  
}
.main{
  width: 1732px !important;
  height: 100%;
  background: #fff;
  margin-left: 188px
 
}
.nav-wrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.navigation .nav-wrap li{
  width: 100%;
  height: 30px;
  line-height: 30px;
 border-radius: 3px;
  margin-top: 20px;
  font-size: 14px;
 
}
.nav-wrap .active{
   background: #61be82;
}
.nav-wrap .active a{
  color: #fff
}
.nav-wrap li a{
  color:black
}

